<div
  class="chat"
  [ngClass]="{ 'chat-end': chatMessage().me, 'chat-start': !chatMessage().me }"
>
  <div
    class="chat-image avatar flex items-center justify-center size-10 rounded-full bg-primary"
  >
    @if (chatMessage().me) {
    <p class="text-center text-white">ME</p>
    } @else {
    <img
      class="rounded-full"
      alt="Photo ai profile"
      src="https://robohash.org/ai"
    />
    }
  </div>
  <div class="chat-header">
    {{ chatMessage().me ? "You" : "AI" }}
    <time class="text-xs opacity-50">12:45</time>
  </div>
  @if (loading() && !chatMessage().me) {
  <div class="chat-bubble">loading...</div>
  } @else {
  <div class="chat-bubble">{{ chatMessage().message }}</div>
  <div class="chat-footer opacity-50">Delivered</div>
  }
</div>
