<div
  class="chat"
  [ngClass]="{ 'chat-end': chatMessage().me, 'chat-start': !chatMessage().me }"
>
  <div class="chat-image avatar">
    <div class="w-10 rounded-full">
      <img
        alt="Tailwind CSS chat bubble component"
        src="https://img.daisyui.com/images/profile/demo/kenobee@192.webp"
      />
    </div>
  </div>
  <div class="chat-header">
    {{ chatMessage().me ? "You" : "AI" }}
    <time class="text-xs opacity-50">12:45</time>
  </div>
  <div class="chat-bubble">{{ chatMessage().message }}</div>
  <div class="chat-footer opacity-50">Delivered</div>
</div>
