<section class="flex flex-col gap-2 w-full">
  <section
    class="border rounded-md p-2 border-cyan-700 h-96 overflow-y-auto flex flex-col gap-2"
  >
    @if(a.isLoading()) {
    <div class="flex flex-col items-center justify-center h-full">
      <icon-pacman />
      <p class="text-center">Procesando respuesta...</p>
    </div>
    } @else { @for (item of messages(); track item.id) {
    <chat-message [chatMessage]="item" />
    } }
  </section>

  <div class="flex gap-x-1">
    <shared-base-input
      class="w-full"
      placeholder="Message"
      [control]="inputMessage"
      (enterKey)="onClick()"
    />
    <shared-base-button label="Send" (click)="onClick()" />
  </div>
</section>
