.pacman3351-dot {
  fill: currentColor;
}

.pacman3351-open,
.pacman3351-mouth-top,
.pacman3351-mouth-bottom {
  fill: currentColor;
}

.pacman3351-mouth-top,
.pacman3351-mouth-bottom {
  animation-duration: 175ms;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  transform-origin: calc(300px/2) 150px; // center of circle
}

.pacman3351-mouth-top {
  animation-name: rotate3351-counterclockwise;
}

.pacman3351-mouth-bottom {
  animation-name: rotate3351-clockwise;
}

@keyframes rotate3351-counterclockwise {
  100% {
      transform: rotate(-30deg);
  }
}

@keyframes rotate3351-clockwise {
  100% {
      transform: rotate(30deg);
  }
}


.pacman3351-dot {
  animation-name: dot3351-motion;
  animation-duration: 600ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes dot3351-motion {
  100% {
      transform: translateX(-100px); // distance between dots
  }
}
